

$DarkTeal: #0b5c65
$LightTeal: #afe1e5
$Fushia: #b62769
$DarkGray: #545454
$LightGray: #d4d7d7 

// Button Solid

.button-solid 
   color: white
   font-size: 12px
   height: 30px
   max-width: 160px
   min-width: 120px
   border-radius: 3px
   border: none
   box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3)
   background: $DarkTeal
   cursor: pointer


// Button Outlined
.button-outlined
    font-size: 12px
    height: 30px
    max-width: 160px
    min-width: 120px
    border-radius: 3px
    border: 2px solid $DarkTeal
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3)
    background: white
    cursor: pointer


.button-sol-lt
   color: $DarkGray
   font-size: 12px
   height: 30px
   width: 160px
   border-radius: 3px
   border: none
   box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3)
   background: $LightTeal
   cursor: pointer

// .button-outlined-wd
//    font-size: 12px
//    height: 30px
//    max-width: 160px
//    border-radius: 3px
//    border: 2px solid $DarkTeal
//    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3)
//    background: white
//    cursor: pointer