
$DarkTeal: #0b5c65
$LightTeal: #afe1e5
$Fushia: #b62769
$DarkGray: #545454
$LightGray: #d4d7d7 

.navigation
    width: 100%
    margin-top: 30px
    margin-bottom: 15px
     

.tabs
    width: 700px
    margin: 0 auto
    border-bottom:  5px solid $LightGray
.display-poses
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-items: center
#wrapper
    margin-top: 20px
    margin-bottom: 20px
.margin
    margin-left 10px
    margin-right: 10px

.sequence-bulder
    // background-color: $LightTeal
    width: 1050px
    height: 250px
.inputs
    background-color: $LightTeal
    height: 250px
    width: 250px
    padding-left: 20px
    div
        text-align: left
        margin-top: 15px

.img_size
    width: 150px !important