
$DarkTeal: #0b5c65
$LightTeal: #afe1e5
$Fushia: #b62769
$DarkGray: #545454
$LightGray: #d4d7d7


.header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    align-content: stretch
    background-color: $DarkTeal
    width: 100%
    height: 2.8em

#header-border
    border-bottom: 2px solid $LightGray
    
    

.phone
    color: white
    width: 200px
    margin-left: 7em

.pad-bottom
    padding-bottom: 10px

.button
    margin-right: 7em
#header-link
    text-decoration: none
    color: white
#margin-rt
    margin-right: 7em

.center-logo
    display: flex
    flex-direction: row
	// flex-wrap: nowrap
    justify-content: center
    align-items: center
    // align-content: stretch